@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
background: url('background.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.navbar-brand .nth {
color: red;
}

.navbar-brand .fth {
color: #03a1fc;
}

.navbar-nav li {
padding: 5px;
margin-left: 2%;
margin-right: 2%;
}

.cn {
background-color: #fcca03;
color: white;
border: 2px solid black;
}

.cw {
background-color: black;
border: 2px solid black;
color: white;
}

.intro {
text-align: center;
margin-top: 4%;
margin-bottom: 4%;
}

.intro h1 {
font-size: 70px;
font-weight: bold;
}

.intro h5 {
font-weight: bold;
}

.card-title {
font-weight: bold;
}

.text-muted {
font-size: 17px;
}

.text-muted span {
color: black;
font-weight: bold;
}

.btngrp {
margin: 5%;
margin-top: 0%;
margin-bottom: 0%;
}

.sub-btngrp {
margin: 5%;
margin-top: 0%;
}

.sub-intro {
text-align: center;
padding: 15px;
}

.card {
margin: 10px;
}

.form-group label {
font-weight: bold;
}

.custom-file {
border: 4px dashed black;
height: 160px;
}

.imgtype {
color: lightgray;
font-size: 13px;
}

.dragdrop {
font-size: 15px;
font-weight: normal;
}

.artitle {
font-size: 25px;
font-weight: lighter;
}

.custom-file-input {
height: 160px;
}

.drag-area {
border: 4px dashed black;
height: 370px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.drag-area.active {
border: 2px solid black;
}

.drag-area .icon {
font-size: 100px;
color: black;
}

.drag-area header {
font-size: 30px;
font-weight: 500;
color: black;
}

.drag-area span {
font-size: 25px;
font-weight: 500;
color: black;
margin: 10px 0 15px 0;
}

.drag-area button {
padding: 10px 25px;
font-size: 20px;
font-weight: 500;
border: none;
outline: none;
background: black;
color: white;
border-radius: 5px;
cursor: pointer;
}

.drag-area img {
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 5px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 23rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.cross {
    font-size: xx-large;
    margin: 0 1rem 5rem 0;
    cursor: pointer;
    float: right;
}

.walletButtons {
    float: right;
}

.walletButtons button {
    width: 100%;
}

.metaIcon {
    width: 4rem;
}

.enableEthereumButton {
    margin-bottom: 1rem;
}

.hidden {
display: none;
}